body{
  font-size:25px;
  text-transform: uppercase;
}
.card{
  background-color: #E1E2E1;
  height:100vh;
}
.card-header{
  text-align: center;
  width:100%;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}
#suggested-btn{
  color: white;
}
.time-header{
  text-align: center;
  font-size: 32px;
  width:100%;
  color: black;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dashboard{
  box-shadow: 1.5px 1.5px 1px black;
}

#squareDiv div {
  height: 24.5vw;
  width: 24.5vw;
  /* border: 2px solid #0d47a1; */
  border: 0.1px solid black;
  /* background-color: #ededed; */
  background-color: #F5F5F6;
  color: black;
  font-weight: 300;
  display: inline-block;
  text-align: center;
  font-size: 10vw;
  line-height: 7vw;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}
#squareDiv div:active{
  background-color: #0d47a1;
  color: white;
  font-weight: 300;
}
div{
  display: inline-block;
  text-align: center;
}
#squareDiv {
  height: auto;
  width:100%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.btn-group{
  width:100%;
  height:auto;
  margin-top: 10px;
}

.btn:focus,.btn:active
{
  box-shadow:none !important;
  outline:none !important;
  background-color: #163fa0;
}

.btn-group button{
  width: 20%;
  font-size: 36px;
  height:70px;
  color: white;
  background-color: #002171;
  border: 0.5px solid white;
}

#arrivals{
  margin-left: 10px;
  /* background-color: #ef8686; */
  /* top:5px; */
}

#departures{
  /* background-color: #3bb8f7; */
  /* top:5px; */
}

#initial{
  /* background-color: #3bb8f7; */
  height: 27.5vw !important;
  width: 27.5vw !important;
  font-size: 12vw !important;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-row-gap: 1vw;
  grid-column-gap: 1vw;
}
/* .grid-item {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 25vw;
  height: 10vw;
} */
.area {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 27px;
  text-align: center;
  width: 20vw;
  height: 10vw;
  margin-right: 10px;
}
.chosenArea {
  color: white;
  outline: 2px solid blue;
  outline-offset:3px;
}
#parent{
    display:flex;
    justify-content: space-between;
}
.optimal{
  background-color: #003300;
}
.notOptimal{
  background-color: #7f0000;
}

.modal-title{
  font-size: 27px;
}
.modal-content{
  width:auto;
  /* margin: auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#close-schedule-btn, #close-menu-btn{
  width:150px;
  font-size: 25px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

th, td{
  width: 220px;
  font-size: 27px;
}

table{
  table-layout: fixed;
}
